/* COFIG */
:root {
  /*color*/
  --primary-color: #d0011b;
  --secondary-color: #1155cc;
  --white-color: #fff;
  --white-color-1: #f5f5fa;
  --smoke-white-color: #f5f5f5;
  --black-color: #000;
  --black-color-1: #000000de;
  --gray-color-1: #0000008a;
  --gray-color-2: #e0e0e0;
  --gray-color-3: #b7b7b8;
  --red-color-1: #ff424e;
  --red-color-2: #ff0020;
  --orange-color: #f69113;
  --blue-color-1: #1a94ff;
  --blue-color-2: #1964ba;
  --blue-color-3: #51aeff;
  --pink-color: #ff8188;

  /*font*/
  --font-family: Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  --font-size-p: 1em;
  --font-size-h1: 2em;
  --font-size-h2: 1.5em;
  --font-size-h3: 1.25em;
  --font-size-h4: 1.125em;
  --font-size-h5: 1em;
  --font-size-h6: 0.875em;
}
/* RESET */

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
p {
  font-size: var(--font-size-p);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}
/* LAYOUT */
.container {
  max-width: 1242px;
  margin: auto;
}

.row {
  display: flex;
  gap: 8px;
}

.col {
  flex: 1;
}

.col-auto {
  flex: 0 0 auto;
}

.col-1 {
  flex: 0 1 8.3333%;
}

.col-2 {
  flex: 0 1 16.6666%;
}

.col-3 {
  flex: 0 1 25%;
}

.col-4 {
  flex: 0 1 33.3333%;
}

.col-5 {
  flex: 0 1 41.6667%;
}

.col-6 {
  flex: 0 1 50%;
}

.col-7 {
  flex: 0 1 58.3333%;
}

.col-8 {
  flex: 0 1 66.6667%;
}

.col-9 {
  flex: 0 1 75%;
}

.col-10 {
  flex: 0 1 83.3334%;
}

.col-11 {
  flex: 0 1 91.6667%;
}

.col-12 {
  flex: 0 1 100%;
}

/* npx model */

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.content-between {
  justify-content: space-between;
}

.content-start {
  justify-content: flex-start;
}
.content-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.content-around {
  justify-content: space-around;
}

.align-items-between {
  align-items: space-between;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-around {
  align-items: space-around;
}

.width-170 {
  width: 170px;
}
.width-180 {
  width: 180px;
}
.width-200 {
  width: 200px;
}
.width-240 {
  width: 240px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}

.p-2 {
  padding: 2px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-5-bottom {
  padding-bottom: 5px;
}
.py-10-bottom {
  padding-bottom: 10px;
}
.py-20-bottom {
  padding-bottom: 20px;
}
.py-5-top {
  padding-top: 5px;
}
.py-10-top {
  padding-top: 10px;
}
.py-20-top {
  padding-top: 20px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mb-2 {
  margin-bottom: 2px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mt-14 {
  margin-top: 14px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mx-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.mx-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.mx-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mx-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mx-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.mx-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mx-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.mx-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mx-left-10 {
  margin-left: 10px !important;
}
.mx-right-5 {
  margin-right: 5px !important;
}
.mx-right-10 {
  margin-right: 10px !important;
}
.mx-right-12 {
  margin-right: 12px !important;
}
.mx-right-14 {
  margin-right: 14px !important;
}

.mx-right-20 {
  margin-right: 20px !important;
}
.mx-right-30 {
  margin-right: 30px !important;
}
.mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mx-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mx-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.-mx-5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.-mx-10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.-mx-12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.my-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
.my-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.my-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.my-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.my-14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.my-bottom-40 {
  margin-bottom: 40px !important;
}

/*Design position*/

/* border */
.border-none {
  border: none;
}

.border-1 {
  border: 1px solid var(--primary-color);
}
.border-2 {
  border: 1px solid var(--gray-color-3);
}
.border-3 {
  border: 1px solid var(--blue-color-3);
}
.border-blue-2 {
  border: 1px solid var(--blue-color-2);
}
.border-red-1 {
  border: 1px solid var(--red-color-1);
}
.border-red {
  border: 1px solid var(--red-color-2);
}
.border-top-left {
  border-top-left-radius: 26px;
}
.border-bottom-1 {
  border-bottom: 1px solid var(--primary-color);
}
.border-bottom-2 {
  border-bottom: 2px solid var(--primary-color);
}
.border-bottom-3 {
  border-bottom: 3px solid var(--primary-color);
}
.border-bottom-gray {
  border-bottom: 1px solid var(--gray-color-1);
}
.border-radius-2 {
  border-radius: 2px;
}
.border-radius-4 {
  border-radius: 4px;
}
.border-radius-8 {
  border-radius: 8px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-12 {
  border-radius: 12px;
}
.border-radius-14 {
  border-radius: 14px;
}
.border-radius-50 {
  border-radius: 50%;
}
.border-gray-1 {
  border-color: var(--gray-color-1);
}
.border-red-2 {
  border-color: var(--red-color-2);
}
/*backgroud color*/

.bg-primary {
  background-color: var(--primary-color);
}

.bg-orange {
  background-color: var(--orange-color);
}
.bg-blue-1 {
  background-color: var(--blue-color-1);
}
.bg-blue-2 {
  background-color: var(--blue-color-2);
}
.bg-blue-3 {
  background-color: var(--blue-color-3);
}
.bg-white {
  background-color: var(--white-color);
}
.bg-white-1 {
  background-color: var(--white-color-1);
}
.bc-red {
  border-color: var(--red-color-2);
}
.bg-red-1 {
  background-color: var(--red-color-1);
}
.bg-red-2 {
  background-color: var(--red-color-2);
}

.bg-pink {
  border-color: var(root);
}
.bg-gray-2 {
  background-color: var(--gray-color-2);
}
.bg-smoke-white {
  background-color: var(--smoke-white-color);
}

/* shadow */

.shadow-down-1 {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* text color */

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
.text-red {
  color: var(--red_color-1);
}

.text-red-1 {
  color: var(--red-color-1);
}

.text-red-2 {
  color: var(--red-color-2);
}

.text-gray-1 {
  color: var(--gray-color-1);
}

.text-gray-2 {
  color: var(--gray-color-2);
}

.text-orange {
  color: var(--orange-color);
}

.text-white {
  color: var(--white-color);
}

.text-black {
  color: var(--black-color);
}
.text-blue {
  color: var(--blue-color-2);
}

.text-black-1 {
  color: var(--black-color-1);
}
.text-top {
  text-align: top;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

/* text decoration */

.text-line-through {
  text-decoration: line-through;
}

/* cursor */

.cursor-pointer {
  cursor: pointer;
}
.cursor-text {
  cursor: text;
}

/* f-weight */

.C {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

/* font size */
.fs-8 {
  font-size: 8px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-20 {
  font-size: 20px;
}

/* SIZE */
.icon-size {
  width: 16px;
  height: 16px;
}

.icon-size-small {
  width: 10px;
  height: 10px;
}

.icon-size-large {
  width: 32px;
  height: 32px;
}

.icon-size-big {
  width: 48px;
  height: 48px;
}
.icon-filter-invert {
  filter: invert(1);
}
.icon-size-tb .icon-filter-invert {
  filter: invert(1);
}

/* effect */

.scale-vertical {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.opacity-1 {
  opacity: 1;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-05-hover:hover {
  opacity: 0.5;
}
filter:hover .filter {
  position: relative;
}

.filter:hover::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.butom-next {
  background-color: var(--white-color);
  width: 240px;
  height: 30px;
  font-size: 12px;
  color: var(--blue-color-2);
  border-radius: 8px;
  border: 1px solid var(--blue-color-2);
}
