/* COMPONENTS */

.nav-horizontal ul {
  display: flex;
  align-items: center;
}

.nav-horizontal ul li {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-horizontal ul li:last-child {
  border: 0;
}

.nav-horizontal ul li a {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.nav-horizontal ul li a:hover {
  opacity: 0.8;
}

.nav-horizontal ul li a img {
  margin: 0 4px;
}
.logo_buttom {
  width: 26px;
  height: 24px;
}
.width {
  width: 350px;
  height: 40px;
}
.input-search {
  width: 626px;
  height: 40px;
}
.buttom-search {
  width: 120px;
  height: 40px;
}
.logo {
  width: 80px;
  height: 80px;
}

.icon-size-logo-1 {
  width: 60px;
  height: 40px;
}
.icon-size-logo-2 {
  width: 83px;
  height: 12px;
}
.icon-size-18 {
  width: 18px;
  height: 18px;
}
.icon-size-24 {
  width: 24px;
  height: 24px;
}

/*header-login*/
.user-login:hover.user {
  display: block;
}
.user {
  position: absolute;
  width: auto;
  background-color: var(--white-color);
  display: none;
  left: 44%;
  bottom: 44%;
  border-radius: 14px;
  z-index: 1;
}
.user-login:hover .user {
  display: block;
}

/*slier*/
.slider {
  position: relative;
  height: 100%;
}

.slider-item {
  position: absolute;
  max-width: 100%;
  z-index: 0;
}

.slider .slider-arrow {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 10px 2px;
  opacity: 0.5;
}

.slider:hover .slider-arrow {
  opacity: 1;
}

.slider .slider-arrow--left {
  left: 0;
  transform: translateY(-50%);
}

.slider .slider-arrow--right {
  right: 0;
}

.slider .slider-list-dots {
  position: absolute;
  display: flex;
  z-index: 1;
  left: 50%;
  bottom: 0;
  margin-bottom: 10px;
  transform: translateX(-50%);
}

.slider .slider-list-dots .slider-dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.slider .slider-list-dots .slider-dot.active {
  opacity: 1;
}
.item-card {
  position: relative;
  display: block;
}
.text-item-card {
  position: absolute;
  color: rgb(26, 148, 255);
  bottom: 0;
  display: block;
  margin-left: 20%;
  margin-bottom: 20px;
}
